.wrapper {
     width: 100%;
     position: relative;
     label {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translate(0, -50%);
          transition: all 0.2s ease-out;
          pointer-events: none;
          font-size: 15px;
          &.active {
               top: -7px;
               left: 0;
               font-size: 12px;
               color: #007bff;
          }
     }
     input {
          padding: 5px;
          width: 100%;
          font-size: 20px;
     }
     .mat-icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: 5px;
     }
}
label {
     position: absolute;
}
