<div [ngClass]="[themeService.isDarkMode ? 'DARK' : 'LIGHT', 'wrapper', title]">
     <nav>
          <a [routerLink]="'/home'" [routerLinkActive]="'active'">Home</a>
          <a [routerLink]="'/about'" [routerLinkActive]="'active'">About</a>
          <a [routerLink]="'/shop'" [routerLinkActive]="'active'">Shop</a>
     </nav>
     <button (click)="changeTheme()">Change theme</button>
     <button (click)="openExternalLibModal()">Open external lib modal</button>
     <button (click)="openInternalLibModal()">Open inernal modal using lib service</button>
     <router-outlet></router-outlet>
</div>
