* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.DARK {
     --bg-color-root: rgb(82, 9, 122);
     --text-color: white;
     $text-color: blue;
     $bg-color: rgb(82, 9, 122);
}
.LIGHT {
     --bg-color-root: rgb(123, 180, 215);
     --text-color: black;
     $text-color: black;
     $bg-color: rgb(123, 180, 215);
}
